.idea
*.iml
out/


/shift-planner-be/.gradle/
/shift-planner-be/build/
/shift-planner-be/.apt_generated/
/shift-planner-be/out/
/shift-planner-be/HELP.md

!/shift-planner-be/gradlew
!/shift-planner-be/gradlew.bat
!/shift-planner-be/gradle/wrapper/gradle-wrapper.jar
!/shift-planner-be/gradle/wrapper/gradle-wrapper.properties

.DS_Store
Thumbs.db
.env
*.env.local
/keycloak

.vscode/